<html lang="en">
<head>
    <meta charset="utf-8">
    <title>covid19_vaccination_certificate</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div>
        <button>Add new patient</button>
        <button>Delete patient</button>
    </div>
    <div>
        <h3>List of registered patients</h3>
        <ul>
            <li>Name 1</li>
            <li>Name 2</li>
            <li>Name 3</li>
            <li>Name 4</li>
        </ul>
    </div>
    <script type="text/javascript" src="flash/flash-client.js"></script>
</body>