<html lang="en">
<head>
    <meta charset="utf-8">
    <title>covid19_vaccination_certificate</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<%- include('../partials/navbar') %>
<div class="heading-container">
    <h1 class="table-heading">Add new patient</h1>
</div>
<div class="input-form">
    <div class="form new-patient-form">
        <form class="register-form" action="/patients/new" method="POST">
            <input type="text" name="name" placeholder="Име / Name" required/>
            <input type="text" name="surname" placeholder="Презиме / Surname" required/>
            <input type="text" name="vaccine" placeholder="COVID-19 VACCINE (VERO CELL), INACTIVATED (SINOVAC)" required/>
            <input type="date" name="application_date" placeholder="01.01.2021" required/>
            <input type="text" name="certificate_code" placeholder="01#MK#MINOFHEALTH#QYEZEOMU#2" minlength="28" maxlength="28" required/>
            <button>Add New Patient</button>
        </form>
    </div>
</div>

</body>