
.header {
    background-color: #ffffff;
    border-radius: 0 0 40px 40px;
    padding-top: 50px;
    padding-bottom: 90px;
    z-index: 2;
}
.conf-img-container {
    text-align: center;
}
.confirmation-img {
    margin: auto;
}
.header-text {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 40px;
    color: #717171;
    margin-top: 20px;
    text-align: center;
}
.conf-content {
    background-color: #3fb775;
    z-index: 1;
}
.conf-info {
    margin-top: 50px;
    text-align: center;
    color: #14753f;
}
.conf-field {
    margin-top: 20px;
    font-family: sans-serif;
}
.conf-field-text {
    margin-top: 6px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
}
.conf-field-divider {
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}
.conf-id {
    display: block;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-family: sans-serif;
}
.footer {
    display: flex;
    text-align: center;
    padding: 20px 10% 0 30%;
    z-index: 3;
    background-color: #ffffff;
    margin-top: 20px;
}
.footer-text {
    font-size: 17px;
}

@media(min-width: 767px)  and (min-height: 1020px) {
    .conf-content {
        height: 92%;
    }
    .conf-field {
        font-size: 25px;
    }
    .conf-field-text {
        font-size: 40px;
    }
    .header-text {
        font-size: 50px;
    }
    .header {
        height: 35%;
        padding-top: 20%;
    }
    .conf-id {
        font-size: 25px;
    }
}

/* Registration form */

.auth-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

/* Alert notifications styles */
.container.hide {
    opacity: 0;
}
.container {
    opacity: 1;
    transition: opacity 0.5s linear;
}
.alert {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
}
.alert-sm {
    padding: 10px;
    font-size: 80%;
}
.alert-lg {
    padding: 35px;
    font-size: large;
}
.alert-success {
    border-color: #80D651;
}
.alert-success>strong {
    color: #80D651;
}
.alert-info {
    border-color: #45ABCD;
}
.alert-info>strong {
    color: #45ABCD;
}
.alert-warning {
    border-color: #FEAF20;
}
.alert-warning>strong {
    color: #FEAF20;
}
.alert-danger {
    border-color: #d73814;
}
.alert-danger>strong {
    color: #d73814;
}

/* Nav menu */

.nav-menu {
    margin-top: 50px;
    background: #3498db;
    text-align: center;
    height: 50px;
    width: 100%;
}
.nav-menu ul {
    padding: 0;
    background: white;
    margin: 0 auto;
    display: inline-block;
    height: 50px;
}
.nav-menu ul li {
    float: left;
    padding: 0 20px;
    background: #3498db;
    list-style: none;
    margin-right: 5px;
    line-height: 50px;
    height: 50px;
}
.nav-menu ul li:hover {
    background: #66ade3;
    cursor: pointer;
}
.nav-menu ul li:nth-child(1) {
    margin-left: 5px;
}
.nav-menu ul li.active {
    background: #2980b9;
}
.nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
}

/* Patients table */

.heading-container {
    margin-left: 40%;
}
.table-heading {
    font-size: 34px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    text-transform: uppercase;
    width: 380px;
    color: #000000;
    text-align: center;
    margin: 60px 0 15px 0;
    border-bottom: 1px solid;
}
table {
    width:100%;
    table-layout: fixed;
}
#patients-list-content {
    height: 100%;
}
.tbl-header {
    background-color: rgba(255,255,255,0.3);
}
.tbl-content {
    height: 100%;
    overflow-x:auto;
    margin-top: 0;
    border: 1px solid rgba(255,255,255,0.3);
}
th {
    font-family: 'Roboto Mono', monospace;
    background-color: #3498BD;
    padding: 20px 10px;
    text-align: left;
    letter-spacing: 0.4ch;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}
td {
    font-family: 'Roboto Slab', serif;
    padding: 15px 4px 10px 4px;
    text-align: left;
    vertical-align:middle;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.patient-edit-button {
    text-decoration: none;
    float: left;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    outline: none;
    color: #ffffff;
    border: none;
    background-color: #45ABCD;
    text-transform: uppercase;
}
.patient-edit-button:hover {
    background-color: #87daf8;
}
.patient-delete-button {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    border: none;
    background-color: #cd0000;
    text-transform: uppercase;
    /*transition: all 200ms ease-in-out;*/
}
.patient-delete-button:hover {
    background-color: #fd4242;
}

/* New Patient page */

.input-form {
    width: 700px;
    padding: 4% 0 0;
    margin: auto;
}
.form.new-patient-form {
    max-width: 460px;
}