
.header {
    background-color: #ffffff;
    border-radius: 0 0 40px 40px;
    padding-top: 50px;
    padding-bottom: 90px;
    z-index: 2;
}
.conf-img-container {
    text-align: center;
}
.confirmation-img {
    margin: auto;
}
.header-text {
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 40px;
    color: #717171;
    margin-top: 20px;
    text-align: center;
}
.conf-content {
    background-color: #3fb775;
    z-index: 1;
}
.conf-info {
    margin-top: 50px;
    text-align: center;
    color: #14753f;
}
.conf-field {
    margin-top: 20px;
    font-family: sans-serif;
}
.conf-field-text {
    margin-top: 6px;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
}
.conf-field-divider {
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}
.conf-id {
    display: block;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-family: sans-serif;
}
.footer {
    display: flex;
    text-align: center;
    padding: 20px 10% 0 30%;
    z-index: 3;
    background-color: #ffffff;
    margin-top: 20px;
}
.footer-text {
    font-size: 17px;
}

@media(min-width: 767px)  and (min-height: 1020px) {
    .conf-content {
        height: 92%;
    }
    .conf-field {
        font-size: 25px;
    }
    .conf-field-text {
        font-size: 40px;
    }
    .header-text {
        font-size: 50px;
    }
    .header {
        height: 35%;
        padding-top: 20%;
    }
    .conf-id {
        font-size: 25px;
    }
}

/* Registration form */

.auth-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
